.iconfont-svg {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
header{
    background:  #FFD700 !important;
    transition: all .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-bottom: 0px solid #e7e7e7 !important;
}
header h1{
    color: white !important;
}
header a{
    color: white !important;
}
.buttons-tab .button.active{
    border-color: #c3c3bd !important;
}
.buttons-tab .button{
    color: #5f646e !important;
    color: white;
}
.button{
    color: #fff ;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background:  #FFD700 !important;
}
.button-black{
    background:  black !important;
}
.button-lemon{
    background : black;
}

.button-lightblue{
    background: #4cd9d7 !important;
}

.button-lightblue{
    background: #4cd9d7 !important;
}

.panel {
    box-shadow: -3px 3px 3px rgba(0,0,0,.2) !important;
    background: rgb(255, 255, 255) !important;
}
.panel .item-content{
    background: rgb(255, 255, 255) !important;
}

.panel i{
    width: 16.27px !important;
}
.panel-header{
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

.panel-header-img img{
    width: 80%;
}
.panel-header-text{

    text-align: center;
}

.null-data{
    padding-top: 2rem;
    text-align: center !important;
}
.content-text{
    width: 100%;
}

.card-content-inner{
    padding-top: 0.45rem !important;
    padding-bottom: 0.45rem !important;
}
.card-header{
    font-size: .80rem !important;
}
.iconfont-svg{
    font-size: 1.2rem;
    margin-right: 0.2rem;
    vertical-align: middle;
}
/*
 * grid 
 */
.grid {
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 1rem;
}
.grid input{
    width: 100% !important;;
     margin-left: 0% !important;
}
.amt-select{
    color: #f60 !important;
    font-weight: bold;
    /*border: 3px solid #f97e7e !important;*/
    border: 1px solid #f60 !important;
    background: url(/images/on.png) no-repeat right bottom !important;
}
.amt-input{
    height: 2.4rem;
    font-size: .85rem;
    line-height: 2.3rem;
    border-radius: .25rem;
}
.amt-item{
    /*border-color: #ccc8c8;*/
    color: black;
    margin-bottom: 1rem;
    height: 2.4rem !important;
    font-size: .85rem;
    line-height: 2.3rem;
    border-radius: .25rem;

    border: 1px solid #ccc8c8;
    padding: 0 .5rem;
}



#map{
    height: 102.5%;
}

/*
 *  map buttons
 */
#QR{
    margin-bottom: 2rem;
    /*width: 8rem;*/
    /*width: 10rem;*/
    /*line-height: 2rem;*/
    border-radius: 1.1rem;
    background: black;
}

#QR img {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align:middle;
    margin-right: 5%;
}

#location {
    margin-left: 1rem;
    margin-bottom: 1.25rem;
}

.map-btn {
    width: 2rem;
    height: 2rem;
    background: #f7f7f7;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #d9d7d5;
    border-radius: 50px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.map-btn img{
    height: 1.1rem;
    width: 1.1rem;
    vertical-align:middle;
    line-height: 1rem;
}


/*
 * card-list
 */
.card-content-item {
    padding-top: 1.4rem;
    width: 100%;
    text-align: center;

}
.item-left{
    font-size: 18px;
}
.item-right{
    font-weight: bold;
    font-size: 18px;
}
.amt-in {
    color: #4cd964;
}
.amt-out {
    color: red;
}

/**
 * map infoWindow
 */
.amap-ui-smp-ifwn-content-body{
    width: 11rem;
    padding: 0.6rem !important;
    border-radius: 1rem !important;
    font-size: 13px;
    font-family: 'YouYuan';
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2) !important;
}

.have-count{
    font-weight: bold;
    color: #fd5858;
}
.info-title{
    font-weight: bold;
}
.repay-count{
    font-weight: bold;
    color: green;
}
.amap-ui-infowindow-close{
    display: none;
}
.amap-icon img{
    width: 30px;
}

/**
 * tip
 */
#customer-hire-tip {
    background: white;
}
.tip-title{
    width: 100%;
    margin-top: 10rem;
    text-align: center;
}
.tip-title .fa-umbrella{
    color: coral;
}

.tip-text{
    width: 100%;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

/*
 * hire
 */
.hire-item-text{
    font-size: 19px;
    font-weight: bold;
    margin-right: 0.5rem;
}

/**
 * unblock layer
 */
.unblock-content{
    text-align: center;
}
.unblock-content input[type=number]{
    border-radius:15px;
    width: 80%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #FEAE1B ;
}

.unblock-content input[type=button]{
    border-radius:15px;
    width: 80%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1rem;
    border: 2px solid #FEAE1B ;
    background: #FEAE1B;
}