
.grid {
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 1rem;
}
.amt{
    color: black;
    margin-bottom: 1rem;
}
.amt-select{
    color: white;
    background: #4cd964;
}

/*
 *  地图
 */
#map{
    height: 102.5%;
}

#QR{
    margin-bottom: 2rem;
    width: 10rem;
    border-radius: 50px;
    background: black;
}

#QR img {
    height: 30px;
    width: 30px;
    vertical-align:middle;
    margin-right: 1rem;
}

.map-btn {
    width: 2rem;
    height: 2rem;
    background: #f7f7f7;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #d9d7d5;
    border-radius: 50px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    /*margin-bottom: 1rem;*/
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.map-btn img{
    height: 1rem;
    width: 1rem;
    /*margin-bottom: 1rem;*/
    /*margin-right: 1rem;*/
    vertical-align:middle;
}


/*
 * 卡片列表
 */
.card-content-item {
    padding-top: 1.4rem;
    width: 100%;
    text-align: center;

}
.item-left{
    font-size: 18px;
}
.item-right{
    font-weight: bold;
    font-size: 18px;
}
.amt-in {
    color: #4cd964;
}
.amt-out {
    color: red;
}